## 11.2 Grouping data frame objects

In [1]:
using CSV

In [2]:
raw_data = """
city,date,rainfall
Olecko,2020-11-16,2.9
Olecko,2020-11-17,4.1
Olecko,2020-11-19,4.3
Olecko,2020-11-20,2.0
Olecko,2020-11-21,0.6
Olecko,2020-11-22,1.0
Ełk,2020-11-16,3.9
Ełk,2020-11-19,1.2
Ełk,2020-11-20,2.0
Ełk,2020-11-22,2.0
""";

In [4]:
using DataFrames

In [5]:
rainfall_df = CSV.read(IOBuffer(raw_data), DataFrame)

10×3 DataFrame
 Row │ city     date        rainfall
     │ String7  Date        Float64
─────┼───────────────────────────────
   1 │ Olecko   2020-11-16       2.9
   2 │ Olecko   2020-11-17       4.1
   3 │ Olecko   2020-11-19       4.3
   4 │ Olecko   2020-11-20       2.0
   5 │ Olecko   2020-11-21       0.6
   6 │ Olecko   2020-11-22       1.0
   7 │ Ełk      2020-11-16       3.9
   8 │ Ełk      2020-11-19       1.2
   9 │ Ełk      2020-11-20       2.0
  10 │ Ełk      2020-11-22       2.0

In [6]:
gdf_city = groupby(rainfall_df, "city")

GroupedDataFrame with 2 groups based on key: city
First Group (6 rows): city = "Olecko"
 Row │ city     date        rainfall
     │ String7  Date        Float64
─────┼───────────────────────────────
   1 │ Olecko   2020-11-16       2.9
   2 │ Olecko   2020-11-17       4.1
   3 │ Olecko   2020-11-19       4.3
   4 │ Olecko   2020-11-20       2.0
   5 │ Olecko   2020-11-21       0.6
   6 │ Olecko   2020-11-22       1.0
⋮
Last Group (4 rows): city = "Ełk"
 Row │ city     date        rainfall
     │ String7  Date        Float64
─────┼───────────────────────────────
   1 │ Ełk      2020-11-16       3.9
   2 │ Ełk      2020-11-19       1.2
   3 │ Ełk      2020-11-20       2.0
   4 │ Ełk      2020-11-22       2.0

In [7]:
gdf_city_date = groupby(rainfall_df, Not("rainfall"))

GroupedDataFrame with 10 groups based on keys: city, date
First Group (1 row): city = "Olecko", date = 2020-11-16
 Row │ city     date        rainfall
     │ String7  Date        Float64
─────┼───────────────────────────────
   1 │ Olecko   2020-11-16       2.9
⋮
Last Group (1 row): city = "Ełk", date = 2020-11-22
 Row │ city     date        rainfall
     │ String7  Date        Float64
─────┼───────────────────────────────
   1 │ Ełk      2020-11-22       2.0

In [8]:
keys(gdf_city_date)

10-element DataFrames.GroupKeys{GroupedDataFrame{DataFrame}}:
 GroupKey: (city = String7("Olecko"), date = Dates.Date("2020-11-16"))
 GroupKey: (city = String7("Olecko"), date = Dates.Date("2020-11-17"))
 GroupKey: (city = String7("Olecko"), date = Dates.Date("2020-11-19"))
 GroupKey: (city = String7("Olecko"), date = Dates.Date("2020-11-20"))
 GroupKey: (city = String7("Olecko"), date = Dates.Date("2020-11-21"))
 GroupKey: (city = String7("Olecko"), date = Dates.Date("2020-11-22"))
 GroupKey: (city = String7("Ełk"), date = Dates.Date("2020-11-16"))
 GroupKey: (city = String7("Ełk"), date = Dates.Date("2020-11-19"))
 GroupKey: (city = String7("Ełk"), date = Dates.Date("2020-11-20"))
 GroupKey: (city = String7("Ełk"), date = Dates.Date("2020-11-22"))

> you can index into a GroupedDataFrame by using normal vector indexing with integers, but you also can pass a GroupKey, Tuple, NamedTuple, or dictionary to select the group you would like to pick.

In [9]:
gdf_city_date[1]

1×3 SubDataFrame
 Row │ city     date        rainfall
     │ String7  Date        Float64
─────┼───────────────────────────────
   1 │ Olecko   2020-11-16       2.9

In [11]:
using Dates

In [13]:
gdf_city_date[("Olecko", Date("2020-11-16"))]

1×3 SubDataFrame
 Row │ city     date        rainfall
     │ String7  Date        Float64
─────┼───────────────────────────────
   1 │ Olecko   2020-11-16       2.9

Access many items by passing vector of things that are indices

In [14]:
gdf_city[[2, 1]]

GroupedDataFrame with 2 groups based on key: city
First Group (4 rows): city = "Ełk"
 Row │ city     date        rainfall
     │ String7  Date        Float64
─────┼───────────────────────────────
   1 │ Ełk      2020-11-16       3.9
   2 │ Ełk      2020-11-19       1.2
   3 │ Ełk      2020-11-20       2.0
   4 │ Ełk      2020-11-22       2.0
⋮
Last Group (6 rows): city = "Olecko"
 Row │ city     date        rainfall
     │ String7  Date        Float64
─────┼───────────────────────────────
   1 │ Olecko   2020-11-16       2.9
   2 │ Olecko   2020-11-17       4.1
   3 │ Olecko   2020-11-19       4.3
   4 │ Olecko   2020-11-20       2.0
   5 │ Olecko   2020-11-21       0.6
   6 │ Olecko   2020-11-22       1.0